src/main/Resources/boards/board_schema.dtd

<!ELEMENT board (row+)>
<!ELEMENT door (#PCDATA)>
<!ELEMENT doors (door,door,door,door)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT square (type,(color,doors)?)>
<!ELEMENT row (square+)>
<!ATTLIST board
        rowLength CDATA "3"
        colLength CDATA "4">
<!ATTLIST door
        direction CDATA #REQUIRED>